
.footer {
  background-color: #444;
  color: #aaa;
  font-size: .9rem;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 100%;
}